# Virtual environment
venv/
firebase_token/
core/__pycache__/firebase_auth.cpython-310.pyc
core/__pycache__/fitbit_auth.cpython-310.pyc
.streamlit/secrets.toml
core/__pycache__/__init__.cpython-310.pyc
